body {

}

header {

}

header h1 {
    color: aqua;
}

header p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section {

}


section form button {
    border: 3px yellow;
}

footer {

}

footer a {
    color: aquamarine;
}